#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_installinit:
	# Install bcfg2 initscript without starting it on postinst
	dh_installinit --package=bcfg2 --no-start
	# Install bcfg2-server initscript without starting it on postinst
	dh_installinit --package=bcfg2-server --no-start
	# Install bcfg2-report-collector initscript without starting it on postinst
	dh_installinit --package=bcfg2-server --name=bcfg2-report-collector --no-start

override_dh_auto_build:
	dh_auto_build

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build

override_dh_auto_install:
	dh_auto_install
	install -m 644 -D tools/bcfg2-completion.bash debian/tmp/etc/bash_completion.d/bcfg2

override_dh_installdocs:
